@import "tailwindcss";

:root {
  --background: #e6e9ef;
  --secondary-background: #a9b4c0;

  --header-color: #4c4f69;
  --text-color: #6c6f85;

  --accent-color: #1e66f5;
  --tertiary-background: #eff1f5;

  /* --icon-color-1: #286f6c;
  --icon-color-2: #edbe48;
  --icon-color-3: #f16440; */
}

@theme inline {
  --color-background: var(--background);
  --color-secondary-background: var(--secondary-background);
  --color-tertiary-background: var(--tertiary-background);

  --color-header: var(--header-color);
  --color-text: var(--text-color);

  --color-accent: var(--accent-color);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --text-hero: 3.5rem;
  --text-h1: 2.25rem;
  --text-h2: 1.75rem;
  --text-body: 1rem;
}

/* Enable Dark Mode */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #181825;
    --header-color: #cdd6f4;
    --text-color: #9dadc8;
    --secondary-background: #a9b4c0;
    --tertiary-background: #1e1e2e;

    --accent-color: #89b4fa;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
